
                <% if !res.nil? %>
                    <% i = 0 %>
                    <% res.each do |item| %>
                        <tr class="table-item ">
                            
                                <td class="text-left fornitore">
                                    <% if item.nome_fornitore == "MaxPneus" %>
                                        <%= link_to (image_tag "#{item.nome_fornitore}.png"  , :class => 'logo') + item.nome_fornitore, "http://www.maxpneus.it/", :target => 'blank' %>
                                    <% else %>
                                        <%= link_to (image_tag "#{item.nome_fornitore}.png"  , :class => 'logo') + item.nome_fornitore, item.fornitore, :target => 'blank' %>
                                    <% end %>
                                </td>
                                <td class="text-left marca" ><%= item.marca %></td>
                                <td class="text-left descrizione" id="descrizione<%=i%>"><%= item.modello.to_s.force_encoding("UTF-8")[0..40] %>
                                    <% if item.modello.to_s.length > 39 %>
                                        ..
                                    <% end %>
                                    <div class="pull-right" style="padding-right: 1em;">
                                        <% if item.stagione == "4 Stagioni" %>
                                            <%= image_tag "4S.png", :class => 'logo-stagione' %>
                                        <% elsif item.stagione == "" %>
                    
                                        <% else %>
                                            <%= image_tag item.stagione+".png", :class => 'logo-stagione' %>
                                        <% end %>
                                    </div>
                                </td>
                                <td class="text-left calcolo" id="target<%=i%>" style="display:none;">
                                    <div class="row">
                                        <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                            <div class="row">
                                                <h3>
                                                    Quantità:
                                                </h3>
                                            </div>
                                            <div class="row">
                                                    <div class="quantity ">
                                                    <input class="text-center" type="number" min="1" max="100" step="1" value="1" id="quantita" style="color:black !important; max-width:100%;">
                                                </div>
                                            </div>
                                        </div>
                                            <div class="col-lg-5 col-md-5 col-sm-12  col-xs-12">
                                                <div class="row">
                                                    <h3>
                                                        Ricarico:
                                                    </h3>
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 quantity " style="padding-left: 0">
                                                        <input class="text-center" type="number" min="0" step="any" value="0" id="incremento" style="color:black !important; max-width:100%;">
                                                    </div>
                                                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 quantity text-center" style="padding-left: 0;padding-right: 0" >
                                                        <select name="tipo-incremento" id="tipo-incremento" style="color:black !important; max-width:100%;">
                                                          <option value="fisso"> € </option>
                                                          <option value="percentuale"> % </option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 text-center">
                                                <div class="row">
                                                    <h3>
                                                        Totale:
                                                    </h3>
                                                </div>
                                                <div class="row">
                                                    <p class="result quantity" id="result" style="margin: 0 0;">
                                                    
                                                    </p>
                                                </div>
                                            </div>
                                          
                                    </div>
                                    
                                    
                                </td>
                                <!--td class="text-left">
                                    % if item.prezzo_listino.to_i == 0 %>
                                        -
                                    % else %>
                                        %= item.prezzo_listino %>
                                    % end %>
                                </td-->
                                <td class="text-center p_netto" ><%= number_with_precision(item.prezzo_netto, precision: 2) %>€</td>
                                
                                <td class="text-center giacenza" >
                                    <% if item.nome_fornitore == "MaxiTyre" %>
                                        <%= "?" %>
                                    <% else %>
                                        <%= item.giacenza %>
                                    <% end %>
                                </td>
                                
                                <% if item.pfu == "C2" %>
                                    <% pfu = 17.60 %>
                                <% elsif item.pfu == "C1" %>
                                    <% pfu = 8.10 %>
                                <% else %>
                                    <% pfu = 2.30 %>
                                <% end %>
                                
                                
                                <td class="text-center p_finale"><%= number_with_precision(item.prezzo_finale, precision: 2) %>€<i class="fa fa-calculator" aria-hidden="true" style="padding-left:0.4em;"></i></td>
                            </tr>
                        <% i += 1 %>
                    <% end %>
                <% end %>    
                    

<script>
    $( "td.p_finale" ).click(function() {
        var item1 = $("td.descrizione");
        var item2 = $("td.calcolo");
        
        if($(this).parent().find(item2).css('display') == 'none')
        {
            $( this).parent().find( item1 ).css("display", "none");
            $( this).parent().find( item2 ).css("display", "table-cell");
        } 
        else
        {
            $( this).parent().find( item1 ).css("display", "table-cell");
            $( this).parent().find( item2 ).css("display", "none");
        }
    });
    
    $( ".table-item" ).change(function() {
        
        var q = parseInt($(this).find("#quantita").val());
        var t = $(this).find("#tipo-incremento").val();
        var i = parseFloat($(this).find("#incremento").val());
        var p_unitario = parseFloat($(this).find("td.p_finale").text().replace("€", ""));
        
        if(t == "fisso"){
            var res = q*(p_unitario+i);
            $(this).find("#result").text(res.toFixed(2)+"€").show;
            return;
        }
        else {
            var res = q*(p_unitario+((p_unitario/100)*i));
            $(this).find("#result").text(res.toFixed(2)+"€").show;
            return;
        }
    });
   

</script>