
                
                    <% res.each do |item| %>
                        <tr class="table-item">
                            <td class="text-left fornitore">
                                <% if item.nome_fornitore == "PneuShopping" %>
                                    <%= link_to (image_tag "#{item.nome_fornitore}.png"  , :class => 'logo') + item.nome_fornitore, "http://www.pneushopping.it/catalogo", :target => 'blank' %>
                                <% else %>
                                    <%= link_to (image_tag "#{item.nome_fornitore}.png"  , :class => 'logo') + item.nome_fornitore, item.fornitore, :target => 'blank' %>
                                <% end %>
                            </td>
                            <td class="text-left marca" ><%= item.marca %></td>
                            <td class="text-left descrizione"><%= item.modello.to_s.force_encoding("UTF-8") %></td>
                            <!--td class="text-left">
                                % if item.prezzo_listino.to_i == 0 %>
                                    -
                                % else %>
                                    %= item.prezzo_listino %>
                                % end %>
                            </td-->
                            <td class="text-center p_netto" ><%= number_with_precision(item.prezzo_netto, precision: 2) %>€</td>
                            
                            <td class="text-center giacenza" ><%= item.giacenza %></td>
                            
                            <% if item.pfu == "C2" %>
                                <% pfu = 17.60 %>
                            <% elsif item.pfu == "C1" %>
                                <% pfu = 8.10 %>
                            <% else %>
                                <% pfu = 2.30 %>
                            <% end %>
                            
                            <% if item.nome_fornitore == "PneuShopping" %>
                                <% p_finale = item.prezzo_netto %>
                            <% else %>
                                <% p_finale = item.prezzo_netto + pfu + ((item.prezzo_netto + pfu )/100)*22 %>
                            <% end %>
                            <td class="text-center p_netto"><%= p_finale.round(2) %>€</td>
                                <% if item.stagione == "4 Stagioni" %>
                                    <td class="text-center stagione" style="background: #1b1e24 "><%= image_tag "4S.png", :class => 'logo-stagione' %></td>
                                <% elsif item.stagione == "" %>
                                    <td class="text-center stagione" style="background: #1b1e24 "></td>
                                 
                                <% else %>
                                    <td class="text-center stagione" style="background: #1b1e24 "><%= image_tag item.stagione+".png", :class => 'logo-stagione' %></td>
                                <% end %>
                          
                        </tr>
                    <% end %>
                    
                    
                </tbody>
           
